name: Auto Commit

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Commit automático
        run: |
          echo "Atualização $(date)" >> README.md
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add README.md
          git commit -m "commit automático" || echo "sem mudanças"
          git push
